<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hola <%= @vendor.business_name %>.</p>
    <p>Has recibido una revisión:</p>
    <p><%= @recomendation.description %></p>
    <p>Calificación: <%= @recomendation.ranking %>/5</p>
  </body>
</html>
