<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Tu solicitud para tu compañía <%= @vendor.business_name %> ha sido aceptada.</p>
  </body>
</html>
